//113.128.222.8:82/api/v4/projects/83/packages/npm/:_authToken="C1NYTLpnB6yQU3tzruEy"
//113.128.222.8:82/api/v4/packages/npm/:_authToken="C1NYTLpnB6yQU3tzruEy"

@fusionx:registry=http://113.128.222.8:82/api/v4/packages/npm/
