//113.128.222.8:82/api/v4/projects/83/packages/npm/:_authToken="hMCmZXb8LrsrjBWp6_S7"
//113.128.222.8:82/api/v4/packages/npm/:_authToken="hMCmZXb8LrsrjBWp6_S7"

@fusionx:registry=http://113.128.222.8:82/api/v4/packages/npm/
