.dense {
  .ant-form-item {
    margin-bottom: 0 !important;
  }
}

.draggable-area.empty-slot {
  border-radius: var(--borderRadius);
  background-color: var(--colorPrimaryBg);
  min-height: 40px;
  height: 100%;
}

.ghost {
  position: relative;
  background-color: transparent !important;
  .text-wrapper,
  .icon-wrapper {
    display: none !important;
  }
  .drag-placeholder {
    display: flex !important;
  }
}

.modal-fullscreen {
  .ant-modal {
    max-width: 100%;
    top: 0;
    padding-bottom: 0;
    margin: 0;
  }
  .ant-modal-content {
    border-radius: 0;
    display: flex;
    flex-direction: column;
    height: calc(100vh);
  }
  .ant-modal-body {
    flex: 1;
    overflow: auto;
  }
}

.settings {
  .boolean-field {
    margin-bottom: 16px !important;
    position: relative;
    .ant-row {
      display: flex;
      flex-direction: row !important;
      align-items: center !important;
      justify-content: space-between !important;
    }
    .ant-form-item-label {
      padding: 0 !important;
      flex-grow: 1 !important;

      label {
        width: 100%;
        cursor: pointer;
      }
    }
    .ant-form-item-control {
      width: auto !important;
      flex-grow: 0 !important;
      flex-shrink: 0;
    }

    .extra {
      position: absolute;
      bottom: 0;
      left: 0;
      color: var(--colorTextSecondary);
    }
  }
}

.scrollbar__thumb {
  background-color: rgba(0, 0, 0, 0.24);
}

// codemirror
.cm-editor {
  border-radius: var(--borderRadius);
  border: 1px solid var(--colorBorder);
  transition: all 0.2s;

  &.cm-focused {
    border-color: var(--colorPrimary);
    // TODO: change this to CSS variable
    box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
    border-inline-end-width: 1px;
    outline: 0;
  }
  &:hover {
    border-color: var(--colorPrimary);
  }
  .cm-gutters {
    border-top-left-radius: var(--borderRadius);
    border-bottom-left-radius: var(--borderRadius);
  }
}

// override segmented
.ant-segmented.width-expanded {
  width: 100%;
  .ant-segmented-item {
    flex-grow: 1;
  }
}
