@use './var.scss' as *;
@use './transition.scss' as *;
@use './efk.scss' as *;

body {
  position: relative;
}

html {
  --colorBorderAlt: rgba(5, 5, 5, 0.06);
  --colorBgAlt: rgba(255, 255, 255, 0.6);
  --colorBgLayoutAlpha: rgba(245, 245, 245, 0.6);

  &.dark {
    --colorBorderAlt: rgba(255, 255, 255, 0.2);
    --colorBgAlt: rgba(31, 31, 31, 0.66);
    --colorBgLayoutAlpha: rgba(0, 0, 0, 0.2);
  }
}

.ant-app,
#app {
  height: 100%;
}

// Alibaba PuHuiTi
@font-face {
  font-family: 'TitleFont';
  font-weight: bold;
  src: url('./HARMONYOS_SANS_BOLD.woff2') format('woff2');
  font-display: swap;
}

#nprogress .bar {
  background: var(--colorPrimary);
}

.scrollbar__thumb {
  background-color: var(--colorFill);
}

.echart-tooltip {
  background-color: rgba(#{var(--colorBgContainer)}, 0.8) !important;
  backdrop-filter: blur(8px);
  border-color: var(--colorBorder) !important;
}

.view {
  @apply p-4 lg:px-6;
}

.ant-picker {
  width: 100%;
}

.dense-form {
  .ant-form-item {
    margin-bottom: 0px !important;
  }
}

.fullscreen-modal {
  .ant-modal {
    max-width: 100%;
    top: 0;
    padding-bottom: 0;
    margin: 0;
  }
  .ant-modal-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    border-radius: 0;
  }
  .ant-modal-body {
    flex: 1;
  }
  .modal-content-wrapper {
    // fullscreen modal content wrapper element
    height: calc(100vh - 116px);
  }
}

.field-help {
  font-size: 16px;
  color: var(--colorTextSecondary);
}

// html.dark .shiki,
// html.dark .shiki span {
//   color: var(--shiki-dark) !important;
//   background-color: var(--shiki-dark-bg) !important;
//   /* 可选，用于定义字体样式 */
//   font-style: var(--shiki-dark-font-style) !important;
//   font-weight: var(--shiki-dark-font-weight) !important;
//   text-decoration: var(--shiki-dark-text-decoration) !important;
// }
